/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


/* Sections style */

:root {
  --font-family: "Montserrat", sans-serif;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.hidden {
  display: none;
}

.loader:before,
.loader:after {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  color: #4e75ff;
  background: currentColor;
  box-shadow: 50px 0, -50px 0;
  animation: left 1s infinite ease-in-out;
}

.loader:after {
  color:#6c8cff;
  animation: right 1.1s infinite ease-in-out;
}


@keyframes right {

  0%,
  100% {
    transform: translateY(-10px)
  }

  50% {
    transform: translateY(10px)
  }
}

@keyframes left {

  0%,
  100% {
    transform: translateY(10px)
  }

  50% {
    transform: translateY(-10px)
  }
}


.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.form input {
  box-sizing: border-box;
  border: 1px solid #808080;
    border-radius: 4px;
width: 272px;
  height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #808080;
      padding: 8px 16px;
      transition: all 0.4s ease;
}

.form input:hover{
border: 1px solid #000;
}

.form input:focus{
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}


.form button{
  box-sizing: border-box;
  font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
width: 91px;
  height: 40px;
    background: #4e75ff;
    padding: 8px 16px;
    border: none;
    transition: all 0.4s ease;
}


.form button:hover{
background: #6c8cff;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 24px;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
    height: auto;
}

.gallery-item img {
width: 100%;
  height: 159px;
  object-fit:cover;
  display: block;
overflow: hidden;
}


.item-dscr {
  display: flex;
  justify-content: space-evenly;
  margin: 4px 0px;
}

.stats {
  display: flex;
  flex-direction: column;
}


.stats h3 {
  font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
}
.stats p{
  font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
}



.load-more {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  padding: 8px 16px;
  border: none;
  transition: all 0.4s ease;
  margin: 32px auto 16px;
}

.load-more:hover {
    background: #6c8cff;
  }

